nav {
  position: relative;
  width: 100%;
  min-height: 100vh;
  
  @media screen and (max-width: 640px) {
    margin-top: 0;
  }
}
.example-container,
mat-sidenav-container {
  width: 100%;
  min-height: 100vh;
}

mat-sidenav-content {
  margin-top: 24px;
  overflow: visible !important;
}
.fas {
  font-size: 24px;
  height: 24px;
  text-align: center;
  width: 24px;
}
.menu-icon {
  i, mat-icon {
    margin-left: 8px;
    margin-right: 12px
  }
}
footer {
  margin-top: 7%;
  @media screen and (max-width: 500px) {
    float: right;
    margin: 51% 0;
  }
}
