mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  mat-card-title {
    margin-bottom: 0;
  }
}


.light-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-viz {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .light-image {
    height: 180px;
    object-fit: contain;
  }
}

.switch-container {
  text-align: center;
}

